
@{
    ViewData["Title"] = "BookService";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookService</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link href="~/css/bookservicestyle.css" rel="stylesheet" />
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a asp-action="Index" title="Helper hand">
                        <img src="~/img/site-logo.png" alt="Helper hand logo" class="logo">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="my-2 mx-2"><a class="navblue py-2 px-3" asp-action="BookService">Book now</a></li>
                                <li class="my-2 mx-2"><a class="navborder py-2 px-3" asp-action="Price">Prices & services</a></li>
                                <li class="my-2 mx-2"><a class="py-2 px-3" href="#">Warranty</a></li>
                                <li class="my-2 mx-2"><a class="py-2 px-3" href="#">Blog</a></li>
                                <li class="my-2 me-2"><a class="py-2 px-3" asp-action="Contact">Contact</a></li>
                                <li class="my-2 mx-2"><a class="navblue py-2 px-3" href="#">Login</a></li>
                                <li class="my-2 mx-2"><a class="navblue py-2 px-3" asp-action="BecomeSP.html">Become a Helper</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
    </header>

    <main>
        <img src="~/img/book-service-banner.jpg" class="img-fluid">
        <section class="FAQs">
            <h1 class="text-center">Set up your cleaning service</h1>
            <table class="center">
                <tr class="align-items-center">
                    <td width="65px"><hr class="line"></td>
                    <td width="40px" class="text-center"><img src="~/img/star.png.png"></td>
                    <td width="65px"><hr class="line"></td>
                </tr>
            </table>
        </section>

        <div class="container d-flex justify-content-center align-items-flex-start my-4">
            <div id="dv-setup-service-steps">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true"><img src="~/img/setup-service.png" alt=""> SetUp Service</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><img src="~/img/schedule.png" alt=""> Schedule & plan</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false"><img src="~/img/details.png" alt=""> Your Details</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-payment-tab" data-bs-toggle="pill" data-bs-target="#pills-payment" type="button" role="tab" aria-controls="pills-payment" aria-selected="false"><img src="~/img/payment.png" alt=""> Make Payment</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div id="dv-setup-service">
                            <p class="fw-bold">Enter your Postal Code</p>
                            <div class="row">
                                <div class="col-md-4 pb-2">
                                    <input type="text" placeholder="Postal Code"  style="height:40px;">
                                </div>
                                <div class="col-md-4">
                                    <button class="btnContinueSetupSerProc px-4 py-2">Check Availability</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div id="dv-schedule-plan">
                            <p class="fw-bold">Select number of rooms and bath</p>
                            <div class="sel-rooms-baths me-2">
                                <select class="form-select">
                                    <option value="1">1 bed</option>
                                    <option value="2">2 bed</option>
                                    <option value="3">3 bed</option>
                                </select>
                            </div>
                            <div class="sel-rooms-baths mb-4">
                                <select class="form-select">
                                    <option value="1">1 bath</option>
                                    <option value="2">2 bath</option>
                                    <option value="3">3 bath</option>
                                </select>
                            </div>
                            <hr class="hr-setup-ser" />
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                    <p class="fw-bold">When do you need the cleaner?</p>
                                    <input type="date" id="" class="dateForService calender-icon form-control me-2 mb-2">
                                    <!--<input type="time" id="" class="timeForService clock-icon form-control">-->
                                    <div class="sel-timeforser mb-4">
                                        <select class="form-select">
                                            <option value="1">01:00 PM</option>
                                            <option value="2">02:00 PM</option>
                                            <option value="3">03:00 PM</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <p class="fw-bold">How long do you need the cleaner to stay?</p>
                                    <div class="sel-rooms-baths mb-4">
                                        <select class="form-select">
                                            <option value="1">3.0 Hrs</option>
                                            <option value="2">4.0 Hrs</option>
                                            <option value="3">5.0 Hrs</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-setup-ser" />
                            <p class="fw-bold">Extra services</p>
                            <div class="dv-setupser-extrasers-container mb-5">
                                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerCabinet();">
                                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-cabinet">
                                        <img src="~/img/3.png" id="ser-cabinet">
                                    </div>
                                    <div class="fs1 ser-name">Inside cabinets</div>
                                </div>
                                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerFridge();">
                                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-fridge">
                                        <img src="~/img/5.png" id="ser-fridge">
                                    </div>
                                    <div class="fs1 ser-name">Inside fridge</div>
                                </div>
                                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerOven();">
                                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-oven">
                                        <img src="~/img/4.png" id="ser-oven">
                                    </div>
                                    <div class="fs1 ser-name">Inside oven</div>
                                </div>
                                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerLaundry();">
                                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-laundry">
                                        <img src="~/img/2.png" id="ser-laundry">
                                    </div>
                                    <div class="fs1 ser-name">Laundry wash & dry</div>
                                </div>
                                <div class="dv-setupsers-extra-services m-2" onclick="selectUnselectSerWindows();">
                                    <div class="setupser-extrasers d-flex justify-content-center align-items-center" id="dv-ser-windows">
                                        <img src="~/img/1.png" id="ser-windows">
                                    </div>
                                    <div class="fs1 ser-name">Interior windows</div>
                                </div>
                            </div>
                            <hr class="hr-setup-ser" />
                            <p class="fw-bold">Comments</p>
                            <textarea class="form-control"></textarea>
                            <div class="my-3">
                                <input type="checkbox" class="form-check-input" id="cbhavePets">
                                <labe for="cbhavePets" class="form-check-label ms-1">I have pets at home</labe>
                            </div>
                            <hr class="hr-setup-ser" />
                            <button class="btnContinueSetupSerProc px-4 py-2 float-end">Continue</button>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
                    <div class="tab-pane fade" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">...</div>
                </div>
            </div>
            <div class="ms-4 accordionFAQ" id="dv-payment-summary-container">
                <div class="dv-payment-summary mt-5">
                    <div class="head p-3">Payment Summary</div>
                    <div class="dv-duration px-3 py-4">
                        <div class="fw-bold">Duration</div>
                        <div>
                            <div class="float-start">Basic</div>
                            <div class="float-end">0 Hrs</div>
                        </div>
                        <hr class="hr-setup-ser" />
                        <div>
                            <div class="fw-bold float-start">Total Service Time</div>
                            <div class="fw-bold float-end">3 Hrs</div>
                        </div>
                    </div>
                    <hr class="hr-setup-ser" />
                    <div class="dv-percleaning px-3 pb-4">
                        <div>
                            <div class="float-start">Per cleaning</div>
                            <div class="float-end">0, 00 &euro;</div>
                        </div>
                    </div>
                    <hr class="hr-setup-ser" />
                    <div class="dv-percleaning px-3 pb-5">
                        <div>
                            <div class="fw-bold float-start fs2">Total Payment</div>
                            <div class="fw-bold float-end fs2">0, 00 &euro;</div>
                        </div>
                    </div>
                    <div class="foot py-2 px-3"><span class="pe-2"><img src="~/img/smiley.png"></span>See what is always included</div>
                </div>
                <p class="text-center pt-5 fw-bold ffc fs3">Questions?</p>
                <div class="accordion accordion-flush mb-3" id="accordionFAQ">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                Whats included in cleaning?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFAQ">
                            <div class="accordion-body">Answer #1</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFAQ">
                            <div class="accordion-body">Answer #2</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Can I skip or reschdule bookings?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFAQ">
                            <div class="accordion-body">Answer #3</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="fw-bold formorehelp fs2">For more help</a>
            </div>
        </div>

    </main>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a asp-action="Index" title="Helper Hand">
                            <img src="~/img/site-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="Faq" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/img/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/img/insta.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p> ©2018Helperland All rights reserved.Terms and Conditions  | <a href="#" title="Privacy Policy">Privacy Policy</a></p>

            </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/bs.js"></script>
</body>

</html>

