@model Helperland1.Models.Login
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Homepage</title>

    <link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link rel='stylesheet' href="css/indexstyle.css">
</head>

<body>
    <div class="wrapper">
        <!-- header -->
        <header class="site-header">
            <div class="header-wrapper d-flex justify-content-between align-items-center">
                <a asp-action="Index" title="Helper hand" class="logo-block">
                    <img src="img/site-logo-large.png" alt="Helper hand logo">
                </a>
                <div class="header-right-block">
                    <div class="right-block-inner d-flex align-items-center">
                        <nav class="navbar navbar-expand-lg align-items-center">
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav align-items-center">
                                    <li class="nav-item">
                                        <a class="nav-link border-btn" asp-action="BookService" title="Book a Cleaner">
                                            Book a
                                            Cleaner
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="price" title="Prices">Prices</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Our Guarantee">Our Guarantee</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" title="Blog">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-action="Contact" title="Contact us">Contact us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link border-btn" data-bs-toggle="modal" href="#exampleModalToggle" title="Login">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link border-btn" asp-controller="Users" asp-action="BeSP" title="Become a Helper">
                                            Become a
                                            Helper
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <div class="custom-dropdown">
                            <select class="country-dropdown">
                                <option value="Australia" data-image="img/australia.svg">Australia</option>
                                <option value="United States" data-image="img/united-states.svg">United States</option>
                                <option value="India" data-image="img/india.svg">India</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section class="hero-banner-section" style="background-image: url(img/hero-banner.jpg);">
                <div class="container">
                    <h1>Lorem ipsum text</h1>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                    </ul>
                    <div class="btn-wrapper text-center">
                        <a asp-action="BookService" title="Let's Book a Cleaner" class="blue-btn">Let's Book a Cleaner</a>
                    </div>
                    <div class="step-wrapper">
                        <div class="row justify-content-center flex-wrap">
                            <div class="col-lg-3 col-6 process-item-1 full-width">
                                <div class="step">
                                    <span>
                                        <img src="img/enter-postcode-icon.png" alt="Enter Postcode">
                                    </span>
                                    <p>Enter your postcode</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 process-item-2 full-width">
                                <div class="step">
                                    <span>
                                        <img src="img/select-plan-icon.png" alt="Select Plan">
                                    </span>
                                    <p>Select your plan</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 process-item-3 full-width">
                                <div class="step">
                                    <span>
                                        <img src="img/pay-securely-icon.png" alt="Pay Securely">
                                    </span>
                                    <p>Pay securely online</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-6 process-item-4 full-width">
                                <div class="step">
                                    <span>
                                        <img src="img/amazing-service-icon.png" alt="Amazing service">
                                    </span>
                                    <p>Enjoy amazing service</p>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="scroll-link-wrapper">
                    <a href="#" title="Scroll Down" class="scroll-link">
                        <img src="img/white-down-arrow.png" alt="Scroll-down">
                    </a>
                </div>
            </section>
            <section class="why-helperhand scroll-section">
                <div class="container">
                    <h2 class="text-center">Why Helperland</h2>
                    <div class="row justify-content-center helperhand-wrapper">
                        <div class="col-lg-4 col-sm-6 text-center">
                            <div class="img-block">
                                <img src="img/professionals.png" alt="Professionals">
                            </div>
                            <h3 class="justify-content-center d-flex align-items-center">
                                Experience & Vetted Professionals
                            </h3>
                            <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center">
                            <div class="img-block">
                                <img src="img/online-payment.png" alt="Online Payment">
                            </div>
                            <h3 class="justify-content-center  d-flex align-items-center">Secure Online Payment</h3>
                            <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                        </div>
                        <div class="col-lg-4 col-sm-6 text-center">
                            <div class="img-block">
                                <img src="img/customer-service.png" alt="Customer service">
                            </div>
                            <h3 class="justify-content-center  d-flex align-items-center">Dedicated Customer Service</h3>
                            <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="blog-section">
                <div class="container">
                    <div class="blog-description-block">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <h2 class="h3">Lorem ipsum dolor sit amet, consectetur</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                                <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                                <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                            </div>
                            <div class="col-lg-5 col-md-6">
                                <div class="image-wrapper">
                                    <img src="img/blog-decription-image.png" alt="Blog description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="our-blog-block">
                        <h2 class="text-center">Our Blog</h2>
                        <div class="row blog-wrapper">
                            <div class="col-lg-4 col-sm-6 blog-detail-outer">
                                <div class="blog-detail">
                                    <div class="blog-image">
                                        <img src="img/blog-image-1.png" alt="blog-image">
                                    </div>
                                    <div class="blog-content">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <span>January 28, 2019</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                        <a href="#" title="Read More" class="arrow-link">Read More<em><img src="img/right-arrow-gray.png" alt="right arrow"></em></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 blog-detail-outer">
                                <div class="blog-detail">
                                    <div class="blog-image">
                                        <img src="img/blog-image-2.png" alt="blog-image">
                                    </div>
                                    <div class="blog-content">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <span>January 28, 2019</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                        <a href="#" title="Read More" class="arrow-link">Read More<em><img src="img/right-arrow-gray.png" alt="right arrow"></em></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 blog-detail-outer">
                                <div class="blog-detail">
                                    <div class="blog-image">
                                        <img src="img/blog-image-3.png" alt="blog-image">
                                    </div>
                                    <div class="blog-content">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <span>January 28, 2019</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                        <a href="#" title="Read More" class="arrow-link">Read More<em><img src="img/right-arrow-gray.png" alt="right arrow"></em></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="customer-section">
                <div class="container">
                    <h2 class="text-center">What Our Customers Say</h2>
                    <div class="row customer-wrapper">
                        <div class="col-lg-4 col-sm-6">
                            <div class="customer-inner">
                                <em class="message-infor">
                                    <img src="img/message.png" alt="Message Info">
                                </em>
                                <div class="person-info d-flex align-items-center">
                                    <div class="person-image">
                                        <img src="img/lary-watson.png" alt="Lary Watson">
                                    </div>
                                    <div class="person-content">
                                        <span class="person-name">Lary Watson</span>
                                        <span class="person-city">Manchester</span>
                                    </div>
                                </div>
                                <div class="person-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More <em><img src="img/right-arrow-gray.png" alt="Right Arrow"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="customer-inner">
                                <em class="message-infor">
                                    <img src="img/message.png" alt="Message Info">
                                </em>
                                <div class="person-info d-flex align-items-center">
                                    <div class="person-image">
                                        <img src="img/john-smith.png" alt="John Smith">
                                    </div>
                                    <div class="person-content">
                                        <span class="person-name">John Smith</span>
                                        <span class="person-city">Manchester</span>
                                    </div>
                                </div>
                                <div class="person-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More <em><img src="img/right-arrow-gray.png" alt="Right Arrow"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="customer-inner">
                                <em class="message-infor">
                                    <img src="img/message.png" alt="Message Info">
                                </em>
                                <div class="person-info d-flex align-items-center">
                                    <div class="person-image">
                                        <img src="img/lars-johnson.png" alt="Lars Johnson">
                                    </div>
                                    <div class="person-content">
                                        <span class="person-name">Lars Johnson</span>
                                        <span class="person-city">Manchester</span>
                                    </div>
                                </div>
                                <div class="person-detail">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                    <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More <em><img src="img/right-arrow-gray.png" alt="Right Arrow"></em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="our-news-letter">
                <div class="container text-center">
                    <a href="#" class="scroll-top"><img src="img/up-arrow.png" alt="up-arrow"></a>
                    <a href="#" class="message-boat"><img src="img/message-boat.png" alt="message-boat"></a>
                    <h2>GET OUR NEWSLETTER</h2>
                    <div class="form-row d-flex justify-content-center align-items-center">
                        <div class="form-group">
                            <label for="email" style="display: none;">YOUR EMAIL</label>
                            <input type="text" placeholder="YOUR EMAIL" id="email" class="form-control">
                        </div>
                        <div class="btn-wrapper">
                            <button class="red-btn">Submit</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a asp-action="Index" title="Helper Hand">
                            <img src="img/site-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="About" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="Faq" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="img/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="img/insta.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut feugiat nunc libero, ac malesuada ligula aliquam ac. <a href="#" title="Privacy Policy">Privacy Policy</a></p>
                <a href="#" class="yellow-btn ok-btn">OK!</a>
            </div>
        </div>
    </footer>

    <!-- Login Popup -->
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="1">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalToggleLabel">Login to your account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Login" method="post">
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div class="alert alert-success">
                                @TempData["AlertMessage"]
                            </div>
                        }
                        <div class="form-group icon-textbox right mb-2">
                            <input asp-for="Email" required class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group icon-textbox right">
                            <input type="password" required asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input formcontrolname="RememberMe" type="checkbox" class=" mt-3">
                                <span>
                                    Remember me
                                </span>
                            </label>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Login" class="btn btn-lg mt-3" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer text-center">
                    <a class="forgotpassword" href="#" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Forgot Password</a>
                    <div class="text-center">
                        Don't have an account?

                        <a class="register-link" asp-controller="Users" asp-action="Create">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered justify-content-center">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel2">Forgot Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group icon-textbox right">
                        <input asp-for="Email" class="form-control  mt-2"  placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Send" class="btn btn-lg mt-3" />
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Login Now</a>
                </div>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script type="text/javascript" src="js/general.js"></script>
</body>

</html>
