
@{
    ViewData["Title"] = "Upcomming";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Services</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link href="~/css/upcomingstyle.css" rel="stylesheet" />
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a href="index.html" title="Helper hand">
                        <img src="~/img/site-logo.png" alt="Helper hand logo" class="logo">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li><a href="price1.html">Prices & services</a></li>
                                <li><a href="#">Warranty</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="bell-icon"></div>
                    <div class="line"></div>
                    <div class="user"><a href="#"><img src="~/img/user.png"></a></div>


                </div>
            </nav>
    </header>

    <main>
        <section class="welcome">
            <h1>Welcome,<b>Sandip!</b></h1>
        </section>

        <section class="service mt-5">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="false">
                        Dashboard
                    </button>
                    <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="false">
                        New Service Request
                    </button>
                    <button class="nav-link active" id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="true">
                        Upcoming Services
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">
                        Service Schedule
                    </button>
                    <button class="nav-link" id="v-pills-history-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-history" type="button" role="tab" aria-controls="v-pills-history"
                            aria-selected="false">
                        Service history
                    </button>
                    <button class="nav-link" id="v-pills-ratting-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-ratting" type="button" role="tab" aria-controls="v-pills-ratting"
                            aria-selected="false">
                        My Rattings
                    </button>
                    <button class="nav-link" id="v-pills-block-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-block" type="button" role="tab" aria-controls="v-pills-block"
                            aria-selected="false">
                        block Customer
                    </button>
                </div>
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab"> </div>
                    <div class="tab-pane fade show active" id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <div class="container table-responsive">
                            <table>
                                <!--   The Head of The Table -->
                                <thead>
                                    <tr>
                                        <th scope="col">Service ID <img src="~/img/forma-1_2.png" alt=""></th>
                                        <th scope="col">Service Date <img src="~/img/forma-1_2.png" alt=""></th>
                                        <th scope="col">Customer Details <img src="~/img/forma-1_2.png" alt=""></th>
                                        <th scope="col">Distance <img src="~/img/forma-1_2.png" alt=""></th>
                                        <th scope="col" style="padding-left: 24px;">Action</th>
                                    </tr>
                                    <!--  End of The Head -->
                                </thead>
                                <!--   The Body of The Table -->
                                <tbody>
                                    <!--          First Row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <!--         Second Row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <!-- third row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <!-- Fourth Row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <!--  Fifth Row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <!-- Sixth Row -->
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>
                                    <tr scope="row">
                                        <td>323436</td>
                                        <td>
                                            <img src="~/img/cal.png" alt=""> 30/30/30
                                            <img src="~/img/clock.png" alt=""> 12:00-18:00
                                        </td>
                                        <td>
                                            David Bough
                                            <img src="~/img/home.png" alt=""> Musterstrabe 5,12345 Bonn
                                        </td>
                                        <td>15 Km</td>
                                        <td><a class="btn" href="">Cancle</a></td>
                                    </tr>

                                    <!-- End of The of The Table -->
                                </tbody>
                                <!-- End of The Table -->
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-history" role="tabpanel"
                         aria-labelledby="v-pills-ratting-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-ratting" role="tabpanel"
                         aria-labelledby="v-pills-ratting-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-block" role="tabpanel"
                         aria-labelledby="v-pills-block-tab"> </div>
            </div>
        
        </section>
    </main>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="index.html" title="Helper Hand">
                            <img src="~/img/site-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a href="index.html" title="Home">Home</a>
                            </li>
                            <li>
                                <a href="about.html" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="faq.html" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/img/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/img/insta.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p> ©2018Helperland All rights reserved.Terms and Conditions  | <a href="#" title="Privacy Policy">Privacy Policy</a></p>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>

</html>
