@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto' }

/*Navbar start*/
.navbar{
    height: 64px;
    padding: 4px 15px 4px;
    opacity: 0.8;
    background-color: #525252;
  }
  .navbar-nav{
    background-color: #525252;
    padding-top: 2px;
  }
  .logo{
      width: 73px;
      height: 54px;
      margin: 6px 0px 4px 15px;
  }
  .collaps{
    background-color: #525252;
  }
  nav ul li a{
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-family: Roboto;
      border-radius: 20px;
      margin-left: 41px;
  }
  nav ul li{
      margin-top: 15px;
      margin-bottom: 19px;
  }
  .navbar span.navbar-toggler-icon {
    background-image: url("../img/hamburger.svg");
    color: white;
  }
  .line{
    width: 1px;
    height: 48px;
    background: #E1E1E1 0% 0% no-repeat padding-box;
    margin: 6px 0 5px 30px;
  }
  .blue-btn{
    padding: 12px 19px 12px 18px;
    border-radius: 20px;
    border: solid 1px rgba(255, 255, 255, 0.5);
    background-color: #29626d;
  }
  .bell-icon{
      background-image: url(../img/icon-notification.png);
      width: 27px;
      height: 30px;
      margin: 14px 0px 10.79px 17.07px
  }
  .user{
    width: 36px;
    height: 36px;
    margin: 12px 0 5px 18px;
    opacity: 1;
  }
  .arrow{
    width: 11px;
    height: 6px;
    margin: 4px 0px 19px 7px;
  }
/*Navbar End*/

/* Main start */
.welcome{
    height: 119px;
    margin-top: 65px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
  }
  .welcome h1{
    text-align: center;
    padding: 38.42px 0 43.59px;
}
.service{
    margin: 30.5px 0 0 10px;
}
.heading h4{
  margin-left: 12px;
}
.nav-pills{
  background-color: #1d7a8c;
  height: 550px;
  
}
.nav-pills .nav-link {
    text-align: left;
    color: #ffffff;
    border-bottom: 0.1px solid #E5E5E5;
    border-style: groove;
    /* padding-right: ; */
    height: 44px;
    }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #146371;
}
.heading ul li{
    display: inline-block;
    list-style: none;
}

 /* The Table Attributes */
 table {
    text-align: left;
    /* width: 847px; */
    /* height: 839px; */
    border: #525252 1px solid;
  }
  tr{
      border-bottom: 1px solid #e1e1e1;
  }
 
  /* The Attributes that the Head and the Body of the Table Share */
  th,
  td {
    padding: 10px 20px;
    
  }
  /* Attributes of the Head of the Body */
  th {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    color: #646464;
  }
  /* Attributes of Each Cell */
  td {
    
    height:65px;
  }
  /*Attributes of Span*/
  .btn {
    padding: 4px 5px;
    background: #6DA9B5 0% 0% no-repeat padding-box;
    border-radius: 17px;
    opacity: 1;
    color: white;
    justify-content:center;
    width: 70px;
    height: 34px;
  }
  .customer-sp .ng-rating {
    display: inline-block;
    margin-right: 3px;
    flex-direction: row;
}
 .status-badge.danger {
  background: #ff6b6b;
}
.status-badge.success{
  background: #67B644;
}
.status-badge {
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  display: inline-block;
  padding: 2px 10px;
}
.payment {
  color: #1d7a8c;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}
/*.table-footer {
  background: #fff;
  padding: 0 0 15px;
  border-top: 0;
  margin-top: 15px;
}*/
/*.table-footer .page-length .form-select {
  display: inline-block;
  width: auto;
  font-size: 14px;
  height: 40px;
  margin: 0 5px;
}*/
thead th {
    text-align: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    color: #646464;
}

table.dataTable th,
table.dataTable td {
    white-space: nowrap;
    text-align: center;
}
.table > thead {
    vertical-align: bottom;
    text-align: center;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    color: #646464;
}
table.dataTable th, table.dataTable td {
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
}
table.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
}

table {
    border: #525252 1px solid;
}
.control-label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}
#my-details .form-group {
    position: relative;
    margin-bottom: 20px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #1d7a8c;
    background: 0 0;
    border: none !important;
    border-bottom: 4px solid #1d7a8c !important;
}
.nav-tabs {
    margin-bottom: 25px;
}
.form-control{
    margin-bottom:25px;
}
#password .form-control{
    width:auto;
}
.nav-link {
    color: #646464;
}

.site-footer .container { max-width: 1420px; }
.site-footer .footer-top { background: #111111; padding: 27px 0; margin-top: 29.99px;}
.site-footer a { display: inline-block; }
.site-footer ul { list-style: none; padding: 0; margin: 0; }
.site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover { opacity: 0.8; }
.site-footer ul.footer-navigation { flex-wrap: wrap; }
.site-footer ul.footer-navigation li+li { margin-left: 30px; }
.site-footer ul.footer-navigation li a { color: #F1F1F1; text-decoration: none; text-transform: uppercase; font-size: 14px; line-height: 2.14; transition: opacity 0.3s; }
.site-footer ul.social-media-list li { text-align: center; }
.site-footer ul.social-media-list a { width: 20px; height: 20px; transition: opacity 0.3s; }
.site-footer ul.social-media-list li:last-child { margin-left: 20px; }
.site-footer .footer-bottom { background: #292929; padding: 19px 0; position: relative; }
.site-footer .footer-bottom p { color: #f1f1f1; margin-bottom: 0; font-size: 14px; }
.site-footer .footer-bottom p a { text-decoration: none; color: #6EABEF; }