@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto' }
/* .container { max-width: 1262px; padding: 0 50px; width: 100%; } */
/* Navbar start */
.navbar{
    height: 64px;
    padding: 4px 15px 4px;
    opacity: 0.8;
    background-color: #525252;
  }
  .navbar-nav{
    background-color: #525252;
    padding-top: 2px;
  }
  .logo{
      width: 73px;
      height: 54px;
      margin: 6px 0px 4px 15px;
  }
  .collaps{
    background-color: #525252;
  }
  nav ul li a{
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-family: Roboto;
      border-radius: 20px;
      margin-left: 41px;
  }
  nav ul li{
      margin-top: 15px;
      margin-bottom: 19px;
  }
  .navbar span.navbar-toggler-icon {
    background-image: url("../img/hamburger.svg");
    color: white;
  }
  .line{
    width: 1px;
    height: 48px;
    background: #E1E1E1 0% 0% no-repeat padding-box;
    margin: 2px 0 5px 30px;
    
  }
  .bell-icon{
      background-image: url(../img/icon-notification.png);
      width: 27px;
      height: 30px;
      margin: 17px 0 16.79px 17.07px;
  }
  .user{
    width: 36px;
    height: 36px;
    margin: 5px 0 5px 18px;
    opacity: 1;
  }
  .arrow{
    width: 11px;
    height: 6px;
    margin: 4px 0px 19px 7px;
  }
/* Navbar end */


  /* Main start */
  .welcome{
    height: 119px;
    margin-top: 65px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
  }
  .welcome h1{
      text-align: center;
      padding: 38.42px 0 43.59px;
  }
  .nav-pills{
    background-color: #1d7a8c;
    margin-left: 20px;
    
  }
  .nav-pills .nav-link {
      text-align: left;
      color: #ffffff;
      border-bottom: 0.1px solid #E5E5E5;
      border-style: groove;
      height: 44px;
      }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      color: #fff;
      background-color: #146371;
  }
  .heading ul li{
      display: inline-block;
      list-style: none;
  }
* {
    box-sizing: border-box;
  }
  /* The Table Attributes */
  table {
    text-align: left;
    width: auto;
    height: auto;
    border: #525252 1px solid;
  }
  tr{
      border-bottom: 1px solid #e1e1e1;
  }
 
  /* The Attributes that the Head and the Body of the Table Share */
  th,
  td {
    padding: 15px;
    
  }
  /* Attributes of the Head of the Body */
  th {
    background: #F9F9F9 0% 0% no-repeat padding-box;
    color: #646464;
  }
  /* Attributes of Each Cell */
  td {
    
    height:65px;
    white-space:pre-line
  }
  /*Attributes of Span*/
  .btn {
    padding: 4px 10px;
    background: #FF6B6B 0% 0% no-repeat padding-box;
    border-radius: 17px;
    opacity: 1;
    color: white;
    justify-content:center;
    width: 80px;
    height: 34px;
  }
.radio.inline {
    display: inline-block;
}
 .account-status {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 0 25px;
}
#password .form-control {
    width: auto;
}
td{
    padding-left:10px;
    vertical-align:middle;
}
.onHover{
    cursor: pointer;
}


.site-footer .container {
    max-width: 1420px;
}
  .site-footer .footer-top { background: #111111; padding: 27px 0; margin-top: 29.99px;}
  .site-footer a { display: inline-block; }
  .site-footer ul { list-style: none; padding: 0; margin: 0; }
  .site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover { opacity: 0.8; }
  .site-footer ul.footer-navigation { flex-wrap: wrap; }
  .site-footer ul.footer-navigation li+li { margin-left: 30px; }
  .site-footer ul.footer-navigation li a { color: #F1F1F1; text-decoration: none; text-transform: uppercase; font-size: 14px; line-height: 2.14; transition: opacity 0.3s; }
  .site-footer ul.social-media-list li { text-align: center; }
  .site-footer ul.social-media-list a { width: 20px; height: 20px; transition: opacity 0.3s; }
  .site-footer ul.social-media-list li:last-child { margin-left: 20px; }
  .site-footer .footer-bottom { background: #292929; padding: 19px 0; position: relative; }
  .site-footer .footer-bottom p { color: #f1f1f1; margin-bottom: 0; font-size: 14px; }
  .site-footer .footer-bottom p a { text-decoration: none; color: #6EABEF; }
