@{
    ViewData["Title"] = "Prices";
    Layout = "_LoginView";
    @*Layout = "_CustomerLayout";*@
}



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helperland | Prices</title>
    <link rel="apple-touch-icon" sizes="57x57" href="../img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
    <link rel="manifest" href="img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link href="~/css/pricestyle.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a asp-action="index" title="Helper hand">
                    <img src="~/img/site-logo.png" alt="Helper hand logo" class="logo">
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="my-2 mx-2"><a class="navblue py-2 px-3" asp-action="BookService">Book now</a></li>
                            <li class="my-2 mx-2"><a class="navborder py-2 px-3" asp-action="Prices">Prices & services</a></li>
                            <li class="my-2 mx-2"><a class="py-2 px-3" href="#">Warranty</a></li>
                            <li class="my-2 mx-2"><a class="py-2 px-3" href="#">Blog</a></li>
                            <li class="my-2 me-2"><a class="py-2 px-3" asp-action="Contactus">Contact</a></li>
                            <li class="my-2 mx-2"><a class="navblue py-2 px-3" data-bs-toggle="modal" href="#exampleModalToggle" title="Login">Login</a></li>
                            <li class="my-2 mx-2"><a class="navblue py-2 px-3" asp-controller="serviceprovider" asp-action="Becomeaprovider">Become a Helper</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <img src="~/img/group-18.png" class="img-fluid">
        <section class="FAQs">
            <h1 class="text-center">Prices</h1>


            <table class="center">
                <tr class="align-items-center">
                    <td width="65px"><hr class="line"></td>
                    <td width="40px" class="text-center"><img src="~/img/star.png.png"></td>
                    <td width="65px"><hr class="line"></td>
                </tr>
            </table>
        </section>

        <div class="price-panel">
            <div class="details">
                <div class="title">One Time</div>
                <span class="price">
                    € 20
                    <small>/hr</small>
                </span>
                <ul>
                    <li>
                        <img alt="Checkmark" src="~/img/forma-1_5.png"> Lower prices
                    </li>
                    <li>
                        <img alt="Checkmark" src="~/img/forma-1_5.png">
                        Easy online &amp; secure payment
                    </li>
                    <li>
                        <img alt="Checkmark" src="~/img/forma-1_5.png"> Easy amendment
                    </li>
                </ul>
            </div>
        </div>

        <!-- Extra services -->
        <section class="extra-service">
            <div class="container">
                <h2 class="title text-center">Extra Services</h2>
                <table class="center">
                    <tr class="align-items-center">
                        <td width="65px"><hr class="line"></td>
                        <td width="40px" class="text-center"><img src="~/img/star.png.png"></td>
                        <td width="65px"><hr class="line"></td>
                    </tr>
                </table>
                <div class="extra-services">
                    <!----><label>
                        <span class="img-container">
                            <span class="img-wrapper">
                                <img src="~/img/3.png" alt="">
                            </span>
                        </span>
                        <span>Inside cabinets</span>
                        <span class="time">30 Minutes</span>
                    </label><label>
                        <span class="img-container">
                            <span class="img-wrapper">
                                <img src="~/img/5.png" alt="">
                            </span>
                        </span>
                        <span>Inside fridge</span>
                        <span class="time">30 Minutes</span>
                    </label><label>
                        <span class="img-container">
                            <span class="img-wrapper">
                                <img src="~/img/4.png" alt="">
                            </span>
                        </span>
                        <span>Inside oven</span>
                        <span class="time">30 Minutes</span>
                    </label><label>
                        <span class="img-container">
                            <span class="img-wrapper">
                                <img src="~/img/2.png" alt="">
                            </span>
                        </span>
                        <span>Laundry wash &amp; dry</span>
                        <span class="time">30 Minutes</span>
                    </label><label>
                        <span class="img-container">
                            <span class="img-wrapper">
                                <img src="~/img/1.png" alt="">
                            </span>
                        </span>
                        <span>Interior windows</span>
                        <span class="time">30 Minutes</span>
                    </label>
                </div>
            </div>
        </section>
        <!-- end -->
        <!-- What we include in cleaning -->
        <section class="jumbo-section services-detail prices-page">
            <div class="container">
                <h2 class="title">What we include in cleaning</h2>
                <table class="center">
                    <tr class="align-items-center">
                        <td width="65px"><hr class="line"></td>
                        <td width="40px" class="text-center"><img src="~/img/star.png.png"></td>
                        <td width="65px"><hr class="line"></td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/img/group-18_3.png" class="img-fluid" alt="Bedroom and Living Room">
                        <h4>Bedroom and Living Room</h4>
                        <ul>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Dust all accessible surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Wipe down all mirrors and glass fixtures
                            </li>
                            <li>
                                <img alt="Not Included" src="~/img/vector-smart-object.png">
                                Clean all floor surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Take out garbage and recycling
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/img/group-18_4.png" class="img-fluid" alt="Bedroom and Living Room">
                        <h4>Bathrooms</h4>
                        <ul>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Wash and sanitize the toilet, shower, tub, sink
                            </li>
                            <li>
                                <img alt="Not Included" src="~/img/vector-smart-object.png">
                                Dust all accessible surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Wipe down all mirrors and glass fixtures
                            </li>
                            <li>
                                <img alt="Not Included" src="~/img/vector-smart-object.png">
                                Clean all floor surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Take out garbage and recycling
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/img/group-18_2.png" class="img-fluid" alt="Bedroom and Living Room">
                        <h4>Kitchen</h4>
                        <ul>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png"> Cleaning the sink
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png"> Cleaning the oven (outside)
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png"> Cleaning the work surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png">
                                Included Dust all accessible surfaces
                            </li>
                            <li>
                                <img alt="Included" src="~/img/vector-smart-object.png"> Included Clean all floor surfaces
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end -->
        <!-- Why helperland -->
        <div class="why-h">
            <div class="col d-flex justify-content-center">
                <span class="Why-Helperland">
                    Why Helperland
                </span>
            </div>
            <table class="center">
                <tr class="align-items-center">
                    <td width="65px"><hr class="line"></td>
                    <td width="40px" class="text-center"><img src="~/img/star.png.png"></td>
                    <td width="65px"><hr class="line"></td>
                </tr>
            </table>

            <div class="col d-flex justify-content-center">
                <div class="row">
                    <div class="col-sm-4 left-section">
                        <div class="feature">
                            <span>Experienced and vetted professionals</span>
                            <p>
                                dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.
                            </p>
                            <div class="feature">
                                <span>Dedicated customer service</span>
                                <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. <br> you need.</p>
                            </div>
                        </div>
                    </div>

                    <div class="end-img col-sm-4">
                        <img src="~/img/the-best-img-1.png" class="img-fluid">
                    </div>

                    <div class="col-sm-4 right-section">
                        <div class="feature">
                            <span>Every cleaning is insured</span>
                            <p>and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
                            <div class="feature">
                                <span>Secure online payment</span>
                                <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!--  -->
    </main>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a asp-action="Index" title="Helper Hand">
                            <img src="~/img/site-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a asp-action="Index" title="Home">Home</a>
                            </li>
                            <li>
                                <a asp-action="Aboutus" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a asp-action="Faq" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/img/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/img/insta.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p> ©2018Helperland All rights reserved.Terms and Conditions  | <a href="#" title="Privacy Policy">Privacy Policy</a></p>

            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</body>

</html>