@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
   
}
<section class="touch-us p-t-94 mt-5 mh-64" id="touch-us">
    <div class="max-width-614">
        <div class="row justify-content-center text-center">
            <div class="col-12 mb-5" style="position: relative;">
                <h2 class="headding-star">Reset Password</h2>
            </div>
        </div>
        @if (ViewBag.errMsg == null)
        {
            <form asp-controller="home" asp-action="resetPassword" enctype="multipart/form-data" class="my-3">
                <input type="hidden" asp-for="email" />
                <input type="hidden" asp-for="token" />
                <div class="row mt-0 mb-3 d-flex justify-content-center align-items-center">
                    <div class="col-md-5">
                        <input asp-for="newPassword" type="text" class="form-control" id="inlineFormInputGroupmobilenumber" placeholder="Password" autocomplete="off">
                        <span asp-validation-for="newPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-0 mb-3 d-flex justify-content-center align-items-center">
                    <div class="col-md-5">
                        <input asp-for="newConfirmPassword" type="text" class="form-control" placeholder="Confirm Password" autocomplete="off">
                        <span asp-validation-for="newConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mt-0 mb-3 d-flex justify-content-center align-items-center">
                    <div class="col-md-5">
                        <button type="submit" class="btn btn-primary text-center submit-btn">Reset</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="text-danger text-center mh-100 my-3">
                @if (ViewBag.msg == "true")
                {
                    <h3 class="text-info fw-bold mb-3">Password Reset Successfully!!</h3>
                }
                else
                {
                    <h3 class="text-danger fw-bold mb-3">@ViewBag.errMsg</h3>
                }
            </div>
        }
    </div>
</section>