<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin>Usermanagement</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link rel='stylesheet' href="css/usermngstyle.css">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/js/admin.js"></script>
</head>
<body>
    <header>
        <div class="site-heading">
            <h1>Helperland</h1>
            <div class="user">
                <ul>
                    <li><img src="~/img/user.png" alt=""></li>
                    <li><p>Jeams Smith</p></li>
                    <li class="logout"><a asp-controller="home" asp-action="logout"><img src="~/img/logout.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Service Request</button>
                <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">User Management</button>
                <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                <!-- service Request -->
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="background">
                        <h3>Service Request</h3>
                    </div>
                    <div class="filter0">
                        <div class="form-group" style="width: 10%;">
                            <input class="form-control" formcontrolname="ServiceId" maxlength="6" name="ServiceId" type="text" placeholder="Service ID">
                        </div>
                        &nbsp;
                        &nbsp;
                        <input list="browsers" name="browser" placeholder="Customer">
                        <datalist id="browsers">
                            @*<option value=" Lyum Watson">
                                <option value="A">
                                <option value="B">
                                <option value="C">
                                <option value="D">*@
                        </datalist>
                        &nbsp;
                        &nbsp;
                        <input list="browsers" name="browser" placeholder="Service Provider">
                        <datalist id="browsers">
                            @*<option value=" Lyum Watson">
                                <option value="A">
                                <option value="B">
                                <option value="C">
                                <option value="D">*@
                        </datalist>
                        &nbsp;
                        &nbsp;
                        <select class="form-select" formcontrolname="SubjectTypeId" style="width: 150px;">
                            <option hidden>Status</option>
                            <option value="0">
                                Admin
                            </option>
                            <option value="2">
                                Call Center
                            </option>
                            <option value="3">
                                Customer
                            </option>
                            <option value="4">
                                Service Provider
                            </option>
                        </select>
                        &nbsp;
                        &nbsp;
                        <div class="dates">
                            <input class="form-control" formcontrolname="FromDate" maxlength="10" name="FromDate" type="text" placeholder="From Date">
                            &nbsp;<input class="form-control" formcontrolname="ToDate" maxlength="10" name="ToDate" type="text" placeholder="To Date">
                        </div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <button type="button" class="btn1">Search</button>
                        &nbsp;
                        &nbsp;
                        <button type="button" class="btn2">Clear</button>
                    </div>
                    <div class="container table-responsive">
                        <table id="example" class="table" style="min-width:1000px;">
                            <thead>
                                <tr>
                                    <th>Service ID</th>
                                    <th>Service Date</th>
                                    <th>Customer Details</th>
                                    <th>Payment</th>
                                    <th>Payment Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="end">©2018 Helperland. All rights reserved.</div>
                </div>

                <!-- User Management -->
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="background">
                        <h3>User Management</h3>
                        <button><span>&#43;</span>Add New User</button>
                    </div>
                    <div class="filter">
                        <input list="browsers" name="browser" placeholder="Select User Name">
                        <datalist id="browsers">
                            @*<option value=" Lyum Watson">
                                <option value="A">
                                <option value="B">
                                <option value="C">
                                <option value="D">*@
                        </datalist>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <select class="form-select" formcontrolname="SubjectTypeId">
                            <option hidden>User Role</option>
                            <option value="1">
                                Admin
                            </option>
                            <option value="2">
                                Call Center
                            </option>
                            <option value="3">
                                Customer
                            </option>
                            <option value="4">
                                Service Provider
                            </option>
                        </select>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" formcontrolname="PhoneNumber" maxlength="10" name="PhoneNumber" type="text" placeholder="Mobile number">
                                &nbsp;
                                &nbsp;
                                &nbsp;
                                <input class="form-control" formcontrolname="ZipCode" maxlength="6" name="ZipCode" type="text" placeholder="ZipCode">
                            </div>
                        </div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <button type="button" class="btn1">Search</button>
                        &nbsp;
                        &nbsp;
                        <button type="button" class="btn2">Cancle</button>
                        &nbsp;

                    </div>
                    <div class="container table-responsive">
                        <table id="usermgmt" class="table" style="min-width:1000px;">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Date of Registration</th>
                                    <th>User Type</th>
                                    <th>Phone</th>
                                    <th>Postal Code</th>
                                    <th>User Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <div class="end">©2018 Helperland. All rights reserved.</div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
            </div>
        </div>
        <div class="modal" id="showServiceRequestDetailsModal" aria-labelledby="showServiceRequestDetailsModal" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" style="min-width:700px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="mdlheader">Service Details</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="dvServiceDetailsModalBody"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal" id="changeReq" aria-labelledby="changeReq" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" style="min-width:700px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="mdlheader fw-bold" style="font-size:larger;">Service Details</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="hidden" id="serviceRequestId">
                            <div class="mb-3 ms-3 ps-1">
                                <span class="small text-danger" id="spneditServicerequestAdminPanelSRs"></span>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label ">Date</label>
                                        <input type="date" id="date" value="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" min="@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")" class="dateForService calender-icon form-control me-2 mb-2">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Time</label>
                                        <select class="form-control" formcontrolname="ServiceTime" id="time">
                                            <option>08:00</option>
                                            <option>08:30</option>
                                            <option>09:00</option>
                                            <option>09:30</option>
                                            <option>10:00</option>
                                            <option>10:30</option>
                                            <option>11:00</option>
                                            <option>11:30</option>
                                            <option>12:00</option>
                                            <option>12:30</option>
                                            <option>13:00</option>
                                            <option>13:30</option>
                                            <option>14:00</option>
                                            <option>14:30</option>
                                            <option>15:00</option>
                                            <option>15:30</option>
                                            <option>16:00</option>
                                            <option>16:30</option>
                                            <option>17:00</option>
                                            <option>17:30</option>
                                            <option>18:00</option>
                                            <option>18:30</option>
                                            <option>19:00</option>
                                            <option>19:30</option>
                                            <option>20:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <label class="control-label fw-bold mt-2 mb-2" style="font-size:larger;">Service Address</label>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label normal">Street name</label>
                                        <input class="form-control " id="address1" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label normal">House number</label>
                                        <input class="form-control " id="address2" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label normal">Postal code</label>
                                        <input class="form-control " id="postalcode" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label normal">City</label>
                                        <input class="form-control " formcontrolname="city" name="city" id="city" type="text">
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-primary mt-2" onclick="updateReq();" id="change">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>


</body>
</html>