@model LoginAndForgotPasswordViewModel
@RenderBody();
<!-- Login Popup -->
<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="1">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalToggleLabel">Login to your account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="home" asp-action="loginUser">
                    <div class="col-md-11 mb-1 ms-3 alert alert-success alert-dismissible fade @(TempData["errMsg"]==null?"d-none":"show")" role="alert">
                        @TempData["errMsg"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="form-group icon-textbox right mb-2">
                        <input asp-for="Login.email" class="form-control" placeholder="Email" />
                        <span asp-validation-for="Login.email" class="text-danger"></span>
                    </div>
                    <div class="form-group icon-textbox right">
                        <input type="password" required asp-for="Login.password" class="form-control" placeholder="Password" />
                        <span asp-validation-for="Login.password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mt-3">
                        <input class="form-check-input" type="checkbox" asp-for="Login.isRemember" id="loginmodal_isremember">
                        <label class="form-check-label" for="loginmodal_isremember">
                            Remember me
                        </label>
                    </div>
                    <div class="text-center">
                        <input type="submit" value="Login" class="btn btn-lg mt-3" />
                    </div>
                </form>
            </div>
            <div class="modal-footer text-center">
                <a class="forgotpassword" asp-action="resetPassword" asp-controller="home" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Forgot Password</a>

                <div class="text-center">
                    Don't have an account?

                    <a class="register-link" asp-controller="home" asp-action="customersignup">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Forgot Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="home" asp-action="forgotPassword">
                    <input type="email" id="passwordmodal_email" asp-for="ForgotPassword.email" class="form-control  mt-2" placeholder="Email Address">
                    <span asp-validation-for="ForgotPassword.email" class="text-danger"></span>

                    <div class="text-center">
                        <input type="submit" value="Send" class="btn btn-lg mt-3" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Login Now</a>
            </div>
        </div>
    </div>
</div>
<link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
<script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>