

<!-- Modal 5 Login -->
<!--<div class="modal fade" id="loginModal" aria-hidden="true" aria-labelledby="loginModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered justify-content-center">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalToggleLabel">Login to your account</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="Customer" asp-action="loginUser">
                <div class="modal-body">
                    <div class="row m-2">
                        <div class="col-md-11 mb-1 ms-3 alert alert-success alert-dismissible fade @(TempData["errMsg"]==null?"d-none":"show")" role="alert">
                            @TempData["errMsg"]
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                    <div class="form-group icon-textbox right mb-2">
                        <div class="col-md-12">
                            <input type="email" asp-for="Login.email" id="loginmodal_email"  placeholder="Email">
                        </div>
                    </div>
                    
                    <div class="row m-2">
                        <div class="col-md-12">
                            <input type="password" asp-for="Login.password" id="loginmodal_password" onkeyup="checkForLoginModal();" class="form-control img-modal-icon img-password" autocomplete="off" placeholder="Password">
                        </div>
                    </div>
                    <div class="row m-2 my-3">
                        <div class="col-md-12">
                            <input class="form-check-input" type="checkbox" asp-for="Login.isRemember" id="loginmodal_isremember">
                            <label class="form-check-label" for="loginmodal_isremember">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-12">
                            <button id="btnloginmodal" type="submit">Login</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center"><a asp-action="resetPassword" asp-controller="Customer" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#forgorpasswordModal" role="button">Forgot password?</a></div>
                    <div class="d-flex justify-content-center align-items-center mb-4">Don't have an account?&nbsp;<a asp-action="customersignup" asp-controller="Customer">Create an Account</a></div>
                </div>
            </form>
        </div>
    </div>
</div>-->

<!-- Modal 5 Forgot Password -->
<!--<div class="modal fade" id="forgorpasswordModal" aria-hidden="true" aria-labelledby="forgorpasswordModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="mdlheader">Forgot password</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" asp-controller="home" asp-action="forgotPassword">
                <div class="modal-body">
                    <div class="row m-2">
                        <div class="col-md-12">
                            <input type="email" id="passwordmodal_email" asp-for="ForgotPassword.email" autocomplete="off" onkeyup="checkForPasswordModal();" class="form-control img-modal-icon img-email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-md-12">
                            <button id="btnpasswordmodal">Send</button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-4"><a asp-action="" asp-controller="" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal" role="button">Login Now</a></div>
                </div>
            </form>
        </div>
    </div>
</div>-->