@{
    ViewData["Title"] = "Upcoming Service";
    @*Layout = "_ServiceLayout";*@
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Services</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel=stylesheet>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css">
    <link href="~/css/upcomingstyle.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="~/js/upcoming.js"></script>
</head>

<body>
    <header>
        <div>
            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container-fluid">
                    <a href="index.html" title="Helper hand">
                        <img src="~/img/site-logo.png" alt="Helper hand logo" class="logo">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse"
                            data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <div class="navbar-nav ms-auto">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li><a href="price1.html">Prices & services</a></li>
                                <li><a href="#">Warranty</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="bell-icon"></div>
                    <div class="line"></div>
                    <div class="user">
                        <a href="#" id="dropaction" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/img/user.png"></
                        </a>
                        <ul class="dropdown-menu dropaction" aria-labelledby="dropaction" style="margin-left:-170px;position:relative;">
                            <li><a class="dropdown-item" href="#">My Dashboard</a></li>
                            <li><a class="dropdown-item" href="#v-pills-settings" data-bs-toggle="pill" aria-controls="v-pills-settings">My Setting</a></li>
                            <li><a class="dropdown-item" asp-controller="home" asp-action="logout">Logout</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
    </header>

    <main>
        <section class="welcome">
            <h1>Welcome,<b>@ViewBag.Username</b></h1>
        </section>

        <section class="service mt-5">
            <div class="d-flex align-items-start">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link" id="v-pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                            aria-selected="false" onclick="getSpdetails();">
                        My Settings
                    </button>
                    <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                            aria-selected="true" onClick="window.location.reload();">
                        New Service Request
                    </button>
                    <button class="nav-link " id="v-pills-messages-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                            aria-selected="false">
                        Upcoming Services
                    </button>
                    <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings"
                            aria-selected="false">
                        Service Schedule
                    </button>
                    <button class="nav-link" id="v-pills-history-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-history" type="button" role="tab" aria-controls="v-pills-history"
                            aria-selected="false">
                        Service history
                    </button>
                    <button class="nav-link" id="v-pills-ratting-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-ratting" type="button" role="tab" aria-controls="v-pills-ratting"
                            aria-selected="false">
                        My Rattings
                    </button>
                    <button class="nav-link" id="v-pills-block-tab" data-bs-toggle="pill"
                            data-bs-target="#v-pills-block" type="button" role="tab" aria-controls="v-pills-block"
                            aria-selected="false">
                        block Customer
                    </button>
                </div>

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade" id="v-pills-home" role="tabpanel"
                         aria-labelledby="v-pills-home-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true">My Details</button>
                                <button class="nav-link" id="nav-password-tab" data-bs-toggle="tab" data-bs-target="#nav-password" type="button" role="tab" aria-controls="nav-password" aria-selected="false">Change Password</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                                <h3 class="account-status mt-3">
                                    Account Status:
                                    <span class="text-success">Active</span>
                                    <span class="dvsp-profile-width" id="dvspProfile" style="float: right;">
                                        <img src="~/img/avatar-car.png" id="imgSPProfie" />
                                    </span>
                                </h3>
                                <form>
                                    <h3 class="title">Basic details</h3>
                                    <div class="row mt-3">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">First name</label>
                                                <input class="form-control" id="firstName" type="text" maxlength="100" placeholder="First name">
                                                <span class="text-danger small" id="spnFirstnameSPMydetails"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Last name</label>
                                                <input class="form-control" id="lastname" maxlength="100" placeholder="Last name">
                                                <span class="text-danger small" id="spnLastnameSPMydetails"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">E-mail address</label>
                                                <input class="form-control" disabled="" id="email" placeholder="E-mail address">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="control-label">Mobile number</label>
                                                <div class="input-group">
                                                    <input class="form-control" id="mobile" maxlength="20" placeholder="Mobile number">
                                                </div>
                                                <span class="text-danger small" id="spnMobileSPMydetails"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="small">
                                    <div class="col-sm-12 mt-3">
                                        <div class="form-group">
                                            <label class="fw-bold mb-1">Gender</label>
                                            <div>
                                                <label class="radio-inline me-2"><input type="radio" class="rbuseradd" id="gender" name="rbGenderSP" value="1" checked /> Male</label>
                                                <label class="radio-inline me-2"><input type="radio" class="rbuseradd" id="gender" name="rbGenderSP" value="2" /> Female</label>
                                                <label class="radio-inline"><input type="radio" class="rbuseradd" id="gender" name="rbGenderSP" value="3" /> Rather not to say</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label normal mt-3">Select Avatar</div>
                                        <div class="avatar-images" style="display:inline-flex;">
                                            <img src="~/img/avatar-car.png" class="onHover me-2 mb-1 selectedAvatar" id="img-avatar-car" onclick="selectedAvatarImage('img-avatar-car');" />
                                            <img src="~/img/avatar-female.png" class="onHover me-2 mb-1" id="img-avatar-female" onclick="selectedAvatarImage('img-avatar-female');" />
                                            <img src="~/img/avatar-hat.png" class="onHover me-2 mb-1" id="img-avatar-hat" onclick="selectedAvatarImage('img-avatar-hat');" />
                                            <img src="~/img/avatar-iron.png" class="onHover me-2 mb-1" id="img-avatar-iron" onclick="selectedAvatarImage('img-avatar-iron');" />
                                            <img src="~/img/avatar-male.png" class="onHover me-2 mb-1" id="img-avatar-male" onclick="selectedAvatarImage('img-avatar-male');" />
                                            <img src="~/img/avatar-ship.png" class="onHover mb-1" id="img-avatar-ship" onclick="selectedAvatarImage('img-avatar-ship');" />
                                        </div>
                                    </div>
                                    <div class="form-section">
                                        <h3 class="title mt-3"> My address</h3>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">Street name</label>
                                                    <input class="form-control " id="streetName" maxlength="200" type="text" placeholder="Street name">
                                                    <span class="text-danger small" id="spnStreetNameSPAdd"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">House number</label>
                                                    <input class="form-control" id="house" maxlength="200" type="text" placeholder="House number">
                                                    <span class="text-danger small" id="spnHouseNumberSPAdd"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">Postal code</label>
                                                    <input class="form-control" id="postal" type="text" placeholder="Postal code">
                                                    <span class="text-danger small" id="spnPostalCodeSPAdd"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="control-label normal">City</label>
                                                    <input class="form-control" id="city" type="text" placeholder="City">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn btn-primary mt-3" onclick="saveSPDetails();">Save</button>
                                </form>
                            </div>
                            <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                                <div id="password">
                                    <div class="row">
                                        <div class="col-sm-4 mb-3">
                                            <label class="fw-bold control-label">Old&nbspPassword</label>
                                            <input type="password" class="form-control" placeholder="Old Password" id="txtoldpwdUserchangepwd" autocomplete="off" maxlength="100" />
                                            <span class="text-danger small" id="spnoldpwdUserchangepwd"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 mb-3">
                                            <label class="fw-bold">New&nbspPassword</label>
                                            <input type="password" class="form-control" placeholder="New Password" id="txtnewpwdUserchangepwd" data-bs-placement="right" onfocusout="validateNewPassword();" autocomplete="off" maxlength="100" />
                                            <span class="text-danger small" id="spnnewpwdUserchangepwd"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4 mb-3">
                                            <label class="fw-bold">Confirm&nbspPassword</label>
                                            <input type="password" class="form-control" placeholder="Confirm Password" id="txtconfirmnewpwdUserchangepwd" onfocusout="validateConfirmNewPassword();" autocomplete="off" maxlength="100" />
                                            <span class="text-danger small" id="spnconfirmnewpwdUserchangepwd"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <button id="btnCusChangepassword" onclick="changeCusPassword();" class="btn btn btn-primary mt-3">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel"
                         aria-labelledby="v-pills-profile-tab">
                        <div class="container table-responsive">
                            <table id="example" class="table" style="min-width:1000px;">
                                <thead>
                                    <tr>
                                        <th>Service ID</th>
                                        <th>Service Date</th>
                                        <th>Customer Details</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade " id="v-pills-messages" role="tabpanel"
                         aria-labelledby="v-pills-messages-tab">
                        <div class="container table-responsive">
                            <table id="upcoming" class="table" style="min-width:1000px;">
                                <thead>
                                    <tr>
                                        <th>Service ID</th>
                                        <th>Service Date</th>
                                        <th>Customer Details</th>
                                        <th>Payment</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-history" role="tabpanel"
                         aria-labelledby="v-pills-ratting-tab">
                        <div class="container table-responsive">
                            <table id="history" class="table" style="min-width:1000px;">
                                <thead>
                                    <tr>
                                        <th>Service ID</th>
                                        <th>Service Date</th>
                                        <th>Customer Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-ratting" role="tabpanel"
                         aria-labelledby="v-pills-ratting-tab"> </div>
                    <div class="tab-pane fade" id="v-pills-block" role="tabpanel"
                         aria-labelledby="v-pills-block-tab">
                        <div class="dvblockcustomer">
                            <table id="tblspBlockCustomer" class="blockcustomer mb-3" style="width:100%">
                                <thead class="d-none">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody class="row row-cols-1 row-cols-md-2 g-4 mt-0">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal" id="showServiceRequestDetailsModal" aria-labelledby="showServiceRequestDetailsModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" style="min-width:700px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="mdlheader">Service Details</div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6"><div id="dvServiceDetailsModalBody"></div></div>
                                    <div class="col-6">
                                        <div class="responsive-map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3671.6980502384117!2d72.49824711489082!3d23.034856384946774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e8352e403437b%3A0xdc9d4dae36889fb9!2sTatvaSoft!5e0!3m2!1sen!2sin!4v1639912052211!5m2!1sen!2sin" width="320" height="370" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal" id="chngService" aria-labelledby="chngService" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered" style="min-width:700px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <div class="mdlheader">Service Details</div>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="dvServiceDetailsModalBody"></div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
</section>
    </main>
    <footer class="site-footer">
        <div class="footer-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 footer-widget">
                        <a href="index.html" title="Helper Hand">
                            <img src="~/img/site-logo.png" alt="Helper Hand">
                        </a>
                    </div>
                    <div class="col-lg-8 footer-widget">
                        <ul class="footer-navigation d-flex justify-content-center">
                            <li>
                                <a href="index.html" title="Home">Home</a>
                            </li>
                            <li>
                                <a href="about.html" title="About">About</a>
                            </li>
                            <li>
                                <a href="#" title="Testimonials">Testimonials</a>
                            </li>
                            <li>
                                <a href="faq.html" title="FAQs">FAQs</a>
                            </li>
                            <li>
                                <a href="#" title="Insurance Policy">Insurance Policy</a>
                            </li>
                            <li>
                                <a href="#" title="Impressum">Impressum</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-2 footer-widget">
                        <ul class="social-media-list d-flex justify-content-end">
                            <li>
                                <a href="#" target="_blank" title="Facebook">
                                    <img src="~/img/fb.png" alt="Facebook">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank" title="Instagram">
                                    <img src="~/img/insta.png" alt="Instagram">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p> ©2018Helperland All rights reserved.Terms and Conditions  | <a href="#" title="Privacy Policy">Privacy Policy</a></p>

            </div>
        </div>
    </footer>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src=" https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js"></script>
</body>

</html>