@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body { font-family: 'Roboto' }
.navbar{
  height: 64px;
  padding: 4px 15px 4px;
  opacity: 0.8;
  background-color: #525252;
}
.navbar-nav{
  background-color: #525252;
  padding-top: 2px;
}
.logo{
    width: 73px;
    height: 54px;
    margin: 0 30px 0 0;
}
.collaps{
  background-color: #525252;
}
nav ul li a{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	font-family: Roboto;
	border-radius: 20px;
}
.navborder{
	border: 1px solid rgba(255, 255, 255, 0.5);
}
.navblue{
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-color: #29626d;
}
.navbar span.navbar-toggler-icon {
  background-image: url("../img/hamburger.svg");
  color: white;
}
.submit{
  font-family: Roboto;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: right;
  color: #fff;
  width: 163px;
  height: 46px;
  margin: 15px 198px 0px 199px;
  padding: 9px 50px 17px 49px;
  border-radius: 23px;
  background-color: #1d7a8c;
}

/*navbar end*/

/*main start*/
.img-fluid{
  height: 370px;
  width: 100%;
  background-size: cover;
  margin: 62px 0 39px; 
}
h1{
  margin: 39px 0 18px 0;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: center;
  color: #4f4f4f;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
.noti{
  margin-top: 34px;
}
.nav-tabs{
  justify-content: center;
  border: none;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #1D7A8C;
  border-bottom: 1px solid #1D7A8C;
  color: #fff;
  
}
.nav-tabs .nav-link{
  margin: 36px 0 48px;
  width: 29.3rem;
  height: 66px;
  font-size: 22px;
  color:#646464;
  background-color: #F6F6F6;
  border-style: none;
  border-bottom: 4px solid #1D7A8C;
}

 .container{
  max-width: 980px;
}

.accordion-item {
  border: none;
  margin:10px 0 11px;
}

.site-footer .container { max-width: 1420px; }
.site-footer .footer-top { background: #111111; padding: 27px 0; margin-top: 60px; }
.site-footer a { display: inline-block; }
.site-footer ul { list-style: none; padding: 0; margin: 0; }
.site-footer ul.footer-navigation li a:hover, .site-footer ul.social-media-list a:hover { opacity: 0.8; }
.site-footer ul.footer-navigation { flex-wrap: wrap; }
.site-footer ul.footer-navigation li+li { margin-left: 30px; }
.site-footer ul.footer-navigation li a { color: #F1F1F1; text-decoration: none; text-transform: uppercase; font-size: 14px; line-height: 2.14; transition: opacity 0.3s; }
.site-footer ul.social-media-list li { text-align: center; }
.site-footer ul.social-media-list a { width: 20px; height: 20px; transition: opacity 0.3s; }
.site-footer ul.social-media-list li:last-child { margin-left: 20px; }
.site-footer .footer-bottom { background: #292929; padding: 19px 0; position: relative; }
.site-footer .footer-bottom p { color: #f1f1f1; margin-bottom: 0; font-size: 14px; }
.site-footer .footer-bottom p a { text-decoration: none; color: #6EABEF; }